<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<h3>Access Denied Exception</h3>
<div>
    Logged in as: <span sec:authentication="name"></span>
    <form method="POST" th:action="@{/app-logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
<p class="error" th:text="${errorMsg}">Error</p>
</body>
</html>   